body {
    background-color: #F2E394;
    color: #8C4646;
}

.navbar {
    background-color: #588c7e;
}

.positioner {
    position: relative;
}

.container {
    position: absolute;
    top: 50px;
    width: 100%;
}

.auth_menu {
    background-color: #f2ae72;
    text-align: right;
}

.welcome {
    color: white;
    font-size: 18px;
}

.welcome a {
    color: white;
    text-decoration: none;
}

.menuLoginMsg {
    margin-left: 15px;

}

#loggedInUser {
    margin-right: 5px;
}


/*VIEWS*/
.view_title {
    background-color: #f2ae72;
    border-bottom: 2px dotted #8C4646;
}

.view_subtitle {
    font-family: 'Cormorant Upright', serif;
    color: white;
    background-color: #588c7e;
    border-top: 4px solid #8C4646;
    margin-bottom: 0;
}

.viewEventName {
    font-size: 18px;
}

.view_menu {
    background-color: #f2ae72;
    border-bottom: 2px solid #588c7e;
}

.view {
    padding: 3px;
    border-bottom: 3px dotted #8C4646;
}

.tellingView {
    background-color: white;
    padding: 15px;
}

.view {
    padding: 15px;
}


/*PAGES*/
.page_title {
    background-color: #f2ae72;
    border-bottom: 2px solid #588c7e;
}

.page_content {
    padding: 12px 0;
}

.tellingNum {
    margin-right: 15px;
}

.imgMedia {
    padding: 5px 0 15px 0;
}

.flashUL {
    list-style: none;
    background: #e6f0ff;
}


/*FIELDS*/
.field_label {
    font-weight: bold;
}

.field,
.displayFld {
    color: black;
    margin-bottom: 10px;
}

.glyphicon-home,
.glyphicon-file,
.glyphicon-comment {
    color: #ADC8BF;
}

.glyphicon-home:hover,
.glyphicon-file:hover,
.glyphicon-comment:hover {
    color: white;
}

#brandPic {
    height: 32px;
    width: 32px;
}

.form_actions {
    padding-top: 15px;
}

.fbBtn {
    background:none!important;
    border:none;
    padding:0!important;
}