<!-- template: events -->
{% extends "base.html" %}


{% block nav %}
    <ul class="nav navbar-nav">
        {% if 'username' in session %}
        <li><a href="{{url_for('newEvent')}}"><span class="glyphicon glyphicon-file" aria-hidden="true"><span style="font-family:Lato;"> New Event</span></span></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block auth_menu %}
    <div class="auth_menu">
        {% if 'username' in session %}
            <span id="loggedInUser">{{session['username']}}</span>
            <a href='\disconnect'> Log Out</a>
        {% else %}
            <a href='\login'>Log In</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="row page_title">
        <div class="col-md-12">
            <h2>All Events</h2>
        </div>
    </div>
    <div class="row flash_msgs">
        <div class="col-md-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashUL">
                        {% for message in messages %}
                        <li>
                            <img src="{{url_for('static', filename='small_info_icon.png')}}">
                            <strong>{{message}}</strong>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row page_content">
        <div class="col-md-12 comment-roll">
            <form action="" method="post">
                {% if events %}
                    {% for e in events %}
                        <div class="row view">
                            <div class="col-sm-12">
                                <div>
                                    {% if 'username' in session and e.user_id == user_id %}
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <a href="{{url_for('deleteEvent', event_id=e.id)}}"> delete</a>
                                        |
                                        <a href="{{url_for('editEvent', event_id=e.id)}}"> edit</a>
                                    {% endif %}
                                </div>
                                <a href="{{url_for('showEvent', event_id=e.id)}}" class="viewEventName">{{e.name}}</a></br>
                                <label for="location">Location:</label>
                                <div class="displayFld">{{e.location}}</div>
                                <label for="description">Description:</label>
                                <div class="displayFld">{{e.description}}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>There are currently no events in your Story.</div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
